{% extends 'base.html' %}

{% block title %}Start Page{% endblock %}

{% block header %}Let's get Positive!{% endblock %}

{% block content %}
  <form action="random_quote">
    <div class="row">
      <div class="col-1">
      </div>
      <div class="col-5">
     <p class="do_you">Get A Random Positive Quote:</p> 
   </div>
   <div class="col-6">
       <button id="get-random-quote-button" class="btn btn-primary">Get A Quote</button>
     </div>
   </div>
     </form> 
     <div class="row">
     <div class="col-1"> </div>
      <div class="col-5" id="random-quote-text"></div>
    </div>
     <form action="authored_quotes">
      <div class="row">
        <div class="col-1"> </div>
        <div class="col-5">
       <p><input class="form-control" type="text" name="author" id="author-field" placeholder="Author Name"></p></div>
       <div class="col-6"><button id="get-authored-quotes" class="btn btn-primary" type="submit">Get Quote(s)</button></p></div></div>
          
     </form>
        <div class="row">
          <div class="col-1"> </div>
          <div class="col-5" id="quotes-text"></div>
        </div>

        <form action="authors_quotes">
      <div class="row">
        <div class="col-1"> </div>
        <div class="col-5">
       <p><input class="form-control" type="text" name="author" id="author-field2" placeholder="Author Name"></p></div>
       <div class="col-6"><button id="get-authors-quotes" class="btn btn-primary" type="submit">Get Results</button></p></div></div>
          
     </form>

   <!--  <form action="possible_author_identities">
      <p>Type in any part of a quote to indentify the author(s):
      <input class="form-control" type="text" name="quote(s)" id="partial-quote-field" placeholder="Words from Partial Quote"><button id="get-possible-authors-button" class="btn btn-primary" type="submit">Get Possible Author(s)</button></p>
    </form> -->

    <div img id="author-image"></div>

    <div id="authors-list-text"></div>

    <div id="authors_list"></div>

    <div id="authors_Quotes"></div>


{% endblock %}
