{% extends 'base.html' %}

{% block title %} {{ author }} {% endblock %}

{% block header %}} {{ author }} {% endblock %}

{% block content %}
  <img src="{{ image }}" />

  <p id="random-quote-text">{{ quote }}</p>

    <form action="random_quote">
        <div class="row">
        <div class="col-6">
        </div>
        
    <div class="col-6">
       <button id="get-random-quote-button" class="btn btn-primary">Get A New Quote</button>
        </div>
    </div>
        </form> 
   
    {% endblock %} 

<!-- https://www.geeksforgeeks.org/working-images-python/ -->
<!-- https://pillow.readthedocs.io/en/stable/installation.html#building-on-macos -->
<!-- https://stackoverflow.com/questions/22603329/storing-and-retrieving-images-in-dictionary-python -->
<!--  -->