{% extends 'base.html' %}

{% block title %} {{ author }} {% endblock %}

{% block header %}} {{ author }} {% endblock %}

{% block paragraph %}
  <img id="author-image">{{ image }}</p>

  <p id="random-quote-text">{{ quote }}</p>

    <form action="random_quote">
        <div class="row">
        <div class="col-6">
        </div>
        
    <div class="col-6">
       <button id="get-random-quote-button" class="btn btn-primary">Get A New Quote</button>
        </div>
    </div>
        </form> 
   
     
{% endblock %}